*{ font-family: Helvetica, Arial, sans-serif; }

.grid{
	width: 960px;
	display: block;
	margin: 0 auto;
}
#header-container{
	margin-bottom: 30px;
	overflow: hidden
}
#body-container{
	clear:both;
	overflow: hidden
}
#navigation ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li{
	float: left;
	list-style: none;
	margin-right: 10px;
}